:root {
    --primary-Blue: hsl(185, 75%, 39%);
    --primary-Navy: hsl(229, 23%, 23%);
    --primary-Gray: hsl(227, 10%, 46%);
    --neutral-Gray: hsl(225, 10%, 92%);
} */

/* Setting Golbal Styling  */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    background-color: var(--primary-Blue);
    font-family: "Kumbh Sans", sans-serif;
    height: 100%;
}


/* Profile Container Styling */
.main-Container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-Component {
    height: 370px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.card-Cover {
    max-width: 100%;
}

.card-Cover > img {
    border-radius: 15px 15px 0 0;
    width: 100%;

}

.profile-Photo-Container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.profile-Photo {
    width: 100px;
    border: 5px solid white;
    border-radius: 50%;

}

.profile-Info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 10px;
    row-gap: 0;
    line-height: 0;
    
    max-width: 120px;
    margin: 20px 0 0 0;

    position: relative;
    bottom: 50px;
} 

/* Typography Styling */
.profile-Name, p > span {
    font-weight: 800;
    font-size: 1.5rem;
}

.profile-Country, .profile-Number {
    font-size: 1.5rem;
    font-weight: 400;
}

.profile-Stats {
    border-top: solid black 1px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;

    padding: 10px 0 20px 0;
    column-gap: 15px;
    
    position: relative;
    bottom: 20px;

}

.profile-Stats > p {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
}

p > span {
    font-size: 1.6rem;
} 


footer {
    text-align: center;
    font-size: 1.5rem;
}